In [ ]:
! pip install nltk

## Import the data 

Link to data - https://www.kaggle.com/datasets/mdismielhossenabir/sentiment-analysis/data

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('sentiment_analysis.csv')

In [3]:
df

,Year,Month,Day,Time of Tweet,text,sentiment,Platform
0,2018,8,18,morning,What a great day!!! Looks like dream.,positive,Twitter
1,2018,8,18,noon,"I feel sorry, I miss you here in the sea beach",positive,Facebook
2,2017,8,18,night,Don't angry me,negative,Facebook
3,2022,6,8,morning,We attend in the class just for listening teac...,negative,Facebook
4,2022,6,8,noon,"Those who want to go, let them go",negative,Instagram
...,...,...,...,...,...,...,...
494,2015,10,18,night,"According to , a quarter of families under six...",negative,Twitter
495,2021,2,25,morning,the plan to not spend money is not going well,negative,Instagram
496,2022,5,30,noon,uploading all my bamboozle pictures of facebook,neutral,Facebook
497,2018,8,10,night,congratulations ! you guys finish a month ear...,positive,Twitter
498,2019,3,25,morning,"actually, I wish I was back in Tahoe. I miss...",negative,Instagram

In [4]:
df['sentiment'].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [5]:
df['sentiment'].value_counts()

neutral     199
positive    166
negative    134
Name: sentiment, dtype: int64

In [6]:
df = df[['text','sentiment']]

In [7]:
df

                                                  text sentiment
0                What a great day!!! Looks like dream.  positive
1       I feel sorry, I miss you here in the sea beach  positive
2                                       Don't angry me  negative
3    We attend in the class just for listening teac...  negative
4                    Those who want to go, let them go  negative
..                                                 ...       ...
494  According to , a quarter of families under six...  negative
495      the plan to not spend money is not going well  negative
496    uploading all my bamboozle pictures of facebook   neutral
497   congratulations ! you guys finish a month ear...  positive
498   actually, I wish I was back in Tahoe.  I miss...  negative

[499 rows x 2 columns]

## using Vader and SIA

In [8]:
import nltk
from datasets import load_dataset
from nltk.sentiment import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()

In [9]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\1034590\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

### Understanding SIA

In [10]:
sentence = "This movie was amazing, but the acting was a bit disappointing."
sentiment_scores = sia.polarity_scores(sentence)
print(sentiment_scores)

{'neg': 0.293, 'neu': 0.544, 'pos': 0.163, 'compound': -0.4404}

In [11]:
def analyze_sentiment_nltk(review):
    score = sia.polarity_scores(review)
    final_score = score['compound']
    if final_score > 0.4:
        return 'positive'
    elif final_score >= -0.3 and final_score <= 0.4:
        return 'neutral'
    else :
        return 'negative'

In [12]:
df['predicted_sentiment_nltk'] = df['text'].apply(analyze_sentiment_nltk)

C:\Users\1034590\AppData\Local\Temp\ipykernel_19600\855690513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['predicted_sentiment_nltk'] = df['text'].apply(analyze_sentiment_nltk)

In [13]:
df

,text,sentiment,predicted_sentiment_nltk
0,What a great day!!! Looks like dream.,positive,positive
1,"I feel sorry, I miss you here in the sea beach",positive,neutral
2,Don't angry me,negative,positive
3,We attend in the class just for listening teac...,negative,neutral
4,"Those who want to go, let them go",negative,neutral
...,...,...,...
494,"According to , a quarter of families under six...",negative,negative
495,the plan to not spend money is not going well,negative,neutral
496,uploading all my bamboozle pictures of facebook,neutral,negative
497,congratulations ! you guys finish a month ear...,positive,positive
498,"actually, I wish I was back in Tahoe. I miss...",negative,neutral

In [14]:
df['prediction_correctness_nltk'] = np.where(df['sentiment']==df['predicted_sentiment_nltk'],1,0)

C:\Users\1034590\AppData\Local\Temp\ipykernel_19600\1528029338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prediction_correctness_nltk'] = np.where(df['sentiment']==df['predicted_sentiment_nltk'],1,0)

In [15]:
df

,text,sentiment,predicted_sentiment_nltk,prediction_correctness_nltk
0,What a great day!!! Looks like dream.,positive,positive,1
1,"I feel sorry, I miss you here in the sea beach",positive,neutral,0
2,Don't angry me,negative,positive,0
3,We attend in the class just for listening teac...,negative,neutral,0
4,"Those who want to go, let them go",negative,neutral,0
...,...,...,...,...
494,"According to , a quarter of families under six...",negative,negative,1
495,the plan to not spend money is not going well,negative,neutral,0
496,uploading all my bamboozle pictures of facebook,neutral,negative,0
497,congratulations ! you guys finish a month ear...,positive,positive,1
498,"actually, I wish I was back in Tahoe. I miss...",negative,neutral,0

In [17]:
df['prediction_correctness_nltk'].value_counts()

1    323
0    176
Name: prediction_correctness_nltk, dtype: int64

## Using textblob

In [ ]:
! pip install textblob

In [18]:
from textblob import TextBlob

In [19]:
def analyze_sentiment_textblob(review):
    blob = TextBlob(review)
    if blob.sentiment.polarity >= 0.4:
        return 'positive'
    elif blob.sentiment.polarity >= -0.3 and blob.sentiment.polarity <= 0.4:
        return 'neutral'
    else : 
        return 'negative'

In [20]:
analyze_sentiment_textblob('This is a good movie')

'positive'

In [21]:
df['predicted_sentiment_textblob'] = df['text'].apply(analyze_sentiment_textblob)

C:\Users\1034590\AppData\Local\Temp\ipykernel_19600\3547837887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['predicted_sentiment_textblob'] = df['text'].apply(analyze_sentiment_textblob)

In [22]:
df['prediction_correctness_textblob'] = np.where(df['sentiment']==df['predicted_sentiment_textblob'],1,0)

C:\Users\1034590\AppData\Local\Temp\ipykernel_19600\4004997036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prediction_correctness_textblob'] = np.where(df['sentiment']==df['predicted_sentiment_textblob'],1,0)

In [23]:
df

,text,sentiment,predicted_sentiment_nltk,prediction_correctness_nltk,predicted_sentiment_textblob,prediction_correctness_textblob
0,What a great day!!! Looks like dream.,positive,positive,1,positive,1
1,"I feel sorry, I miss you here in the sea beach",positive,neutral,0,negative,0
2,Don't angry me,negative,positive,0,negative,1
3,We attend in the class just for listening teac...,negative,neutral,0,neutral,0
4,"Those who want to go, let them go",negative,neutral,0,neutral,0
...,...,...,...,...,...,...
494,"According to , a quarter of families under six...",negative,negative,1,neutral,0
495,the plan to not spend money is not going well,negative,neutral,0,neutral,0
496,uploading all my bamboozle pictures of facebook,neutral,negative,0,neutral,1
497,congratulations ! you guys finish a month ear...,positive,positive,1,neutral,0
498,"actually, I wish I was back in Tahoe. I miss...",negative,neutral,0,neutral,0

In [24]:
df['prediction_correctness_textblob'].value_counts()

1    283
0    216
Name: prediction_correctness_textblob, dtype: int64